<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_ProblemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{198,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,64}}</string>
                <key>sourceSize</key>
                <string>{198,64}</string>
            </dict>
            <key>btn_music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{154,60}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,60}}</string>
                <key>sourceSize</key>
                <string>{158,60}</string>
            </dict>
            <key>btn_music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,549},{158,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,58}}</string>
                <key>sourceSize</key>
                <string>{158,60}</string>
            </dict>
            <key>btn_sendProblem.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,191},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>btn_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{187,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,69}}</string>
                <key>sourceSize</key>
                <string>{187,69}</string>
            </dict>
            <key>btn_setting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,60},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>btn_setting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{187,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,69}}</string>
                <key>sourceSize</key>
                <string>{187,69}</string>
            </dict>
            <key>btn_setting_findpw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{116,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,47}}</string>
                <key>sourceSize</key>
                <string>{116,47}</string>
            </dict>
            <key>btn_setting_gettestno.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,408},{116,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,47}}</string>
                <key>sourceSize</key>
                <string>{116,47}</string>
            </dict>
            <key>btn_setting_goswitch.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{168,26}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,24},{168,26}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>btn_setting_goupgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,172},{124,26}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{124,26}}</string>
                <key>sourceSize</key>
                <string>{158,68}</string>
            </dict>
            <key>btn_setting_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{187,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,69}}</string>
                <key>sourceSize</key>
                <string>{187,69}</string>
            </dict>
            <key>btn_setting_loginnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>btn_setting_register now.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,380},{187,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,69}}</string>
                <key>sourceSize</key>
                <string>{187,69}</string>
            </dict>
            <key>btn_setting_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,249},{187,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,69}}</string>
                <key>sourceSize</key>
                <string>{187,69}</string>
            </dict>
            <key>btn_setting_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{308,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,36}}</string>
                <key>sourceSize</key>
                <string>{308,36}</string>
            </dict>
            <key>btn_setting_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{287,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,35}}</string>
                <key>sourceSize</key>
                <string>{287,35}</string>
            </dict>
            <key>btn_setting_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,177},{187,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,69}}</string>
                <key>sourceSize</key>
                <string>{187,69}</string>
            </dict>
            <key>image_ProblemBg_noselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,241},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>image_ProblemBg_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,205},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>image_problem_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,357},{190,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,52}}</string>
                <key>sourceSize</key>
                <string>{190,52}</string>
            </dict>
            <key>image_setting_ extend.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,492},{143,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,33}}</string>
                <key>sourceSize</key>
                <string>{143,33}</string>
            </dict>
            <key>image_setting_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{143,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,33}}</string>
                <key>sourceSize</key>
                <string>{143,33}</string>
            </dict>
            <key>image_setting_muisc.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,457},{143,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,33}}</string>
                <key>sourceSize</key>
                <string>{143,33}</string>
            </dict>
            <key>image_setting_muisc_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{408,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,27}}</string>
                <key>sourceSize</key>
                <string>{408,27}</string>
            </dict>
            <key>image_setting_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,27}}</string>
                <key>sourceSize</key>
                <string>{408,27}</string>
            </dict>
            <key>image_setting_progress_drag.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,298},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>image_setting_tips_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,135},{68,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,35}}</string>
                <key>sourceSize</key>
                <string>{68,35}</string>
            </dict>
            <key>image_setting_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,438},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>image_title_label_ctroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,277},{129,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,34}}</string>
                <key>sourceSize</key>
                <string>{129,34}</string>
            </dict>
            <key>image_title_label_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,135},{70,40}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,16},{70,40}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>image_uploadImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,507},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:616ac5efa14da07dd53db7ca8b773715:b22516506cd24e2780e8ee1297f77ab9:b9c870dc099f34bca3e3b2447514f602$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
