<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>acccount_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,292},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>acccount_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,624},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>acccount_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{316,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{316,370}}</string>
                <key>sourceSize</key>
                <string>{318,372}</string>
            </dict>
            <key>acccount_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{316,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{316,370}}</string>
                <key>sourceSize</key>
                <string>{318,372}</string>
            </dict>
            <key>btn_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{231,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{231,43}}</string>
                <key>sourceSize</key>
                <string>{233,45}</string>
            </dict>
            <key>btn_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{231,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{231,43}}</string>
                <key>sourceSize</key>
                <string>{233,45}</string>
            </dict>
            <key>denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,55},{235,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{235,83}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>huoquyanzhenma.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,104},{138,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{138,51}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>mashangzhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,248},{235,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{235,83}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>qudenglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,248},{187,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{187,68}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,188},{134,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,58}}</string>
                <key>sourceSize</key>
                <string>{134,58}</string>
            </dict>
            <key>querenmima.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,70},{140,32}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{140,32}}</string>
                <key>sourceSize</key>
                <string>{204,32}</string>
            </dict>
            <key>shirukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{320,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{320,47}}</string>
                <key>sourceSize</key>
                <string>{322,49}</string>
            </dict>
            <key>shoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,55},{204,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,32}}</string>
                <key>sourceSize</key>
                <string>{204,32}</string>
            </dict>
            <key>shurumima.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,36},{140,32}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{140,32}}</string>
                <key>sourceSize</key>
                <string>{204,32}</string>
            </dict>
            <key>tishidiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,51}}</string>
                <key>sourceSize</key>
                <string>{491,51}</string>
            </dict>
            <key>wangjimima.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,292},{229,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,25}}</string>
                <key>sourceSize</key>
                <string>{229,25}</string>
            </dict>
            <key>wenzikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{333,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{333,200}}</string>
                <key>sourceSize</key>
                <string>{335,202}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,437},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,66}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>yanzhenma.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,261},{172,32}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{172,32}}</string>
                <key>sourceSize</key>
                <string>{204,32}</string>
            </dict>
            <key>yihouzhanghaodenglv.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,373},{189,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{189,29}}</string>
                <key>sourceSize</key>
                <string>{193,33}</string>
            </dict>
            <key>youxinicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{140,32}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{140,32}}</string>
                <key>sourceSize</key>
                <string>{204,32}</string>
            </dict>
            <key>zhanghaoguanliziyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{182,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{182,53}}</string>
                <key>sourceSize</key>
                <string>{186,55}</string>
            </dict>
            <key>zhanghaoqiehuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,522},{182,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{182,53}}</string>
                <key>sourceSize</key>
                <string>{186,55}</string>
            </dict>
            <key>zhanghaozhangji.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,338},{182,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{182,53}}</string>
                <key>sourceSize</key>
                <string>{186,55}</string>
            </dict>
            <key>zhuchezhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,157},{137,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,29}}</string>
                <key>sourceSize</key>
                <string>{141,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>account.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c73025332d9797bf877af12472a83819:1/1$</string>
            <key>textureFileName</key>
            <string>account.png</string>
        </dict>
    </dict>
</plist>
