<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CARTOON_BOMB_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{131,489}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,0},{131,489}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,463},{131,149}}</string>
                <key>offset</key>
                <string>{11,-158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,336},{131,149}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,596},{131,161}}</string>
                <key>offset</key>
                <string>{12,-152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,324},{131,161}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,596},{131,149}}</string>
                <key>offset</key>
                <string>{12,-157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,335},{131,149}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,596},{127,149}}</string>
                <key>offset</key>
                <string>{10,-159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,337},{127,149}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,463},{131,143}}</string>
                <key>offset</key>
                <string>{12,-162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,343},{131,143}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{141,165}}</string>
                <key>offset</key>
                <string>{12,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,324},{141,165}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,596},{131,149}}</string>
                <key>offset</key>
                <string>{12,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,334},{131,149}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,551},{145,165}}</string>
                <key>offset</key>
                <string>{11,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,319},{145,165}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,372},{155,177}}</string>
                <key>offset</key>
                <string>{13,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,304},{155,177}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,187},{163,183}}</string>
                <key>offset</key>
                <string>{13,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,298},{163,183}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,463},{165,199}}</string>
                <key>offset</key>
                <string>{13,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,281},{165,199}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,2},{167,183}}</string>
                <key>offset</key>
                <string>{11,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,296},{167,183}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,455},{459,285}}</string>
                <key>offset</key>
                <string>{0,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,209},{459,285}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,2},{353,315}}</string>
                <key>offset</key>
                <string>{-6,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,176},{353,315}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{451,365}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,140},{451,365}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{459,381}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,124},{459,381}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{459,419}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,83},{459,419}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,397},{393,311}}</string>
                <key>offset</key>
                <string>{8,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,176},{393,311}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
            <key>CARTOON_BOMB_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,2},{393,313}}</string>
                <key>offset</key>
                <string>{8,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,175},{393,313}}</string>
                <key>sourceSize</key>
                <string>{459,505}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animate_bomb.png</string>
            <key>size</key>
            <string>{1974,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6158d659e7df22311afb82919a8432f0:1/1$</string>
            <key>textureFileName</key>
            <string>animate_bomb.png</string>
        </dict>
    </dict>
</plist>
