<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CARTOON_PLAN_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1470},{305,149}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{305,149}}</string>
                <key>sourceSize</key>
                <string>{313,161}</string>
            </dict>
            <key>CARTOON_PLAN_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,204},{303,147}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{303,147}}</string>
                <key>sourceSize</key>
                <string>{313,161}</string>
            </dict>
            <key>CARTOON_PLAN_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,204},{279,149}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{279,149}}</string>
                <key>sourceSize</key>
                <string>{313,161}</string>
            </dict>
            <key>CARTOON_PLAN_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,562},{309,147}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{309,147}}</string>
                <key>sourceSize</key>
                <string>{313,161}</string>
            </dict>
            <key>COUNT_WARN_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1582},{70,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,53}}</string>
                <key>sourceSize</key>
                <string>{74,57}</string>
            </dict>
            <key>COUNT_WARN_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1625},{36,41}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{36,41}}</string>
                <key>sourceSize</key>
                <string>{74,57}</string>
            </dict>
            <key>COUNT_WARN_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1582},{70,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,53}}</string>
                <key>sourceSize</key>
                <string>{74,57}</string>
            </dict>
            <key>COUNT_WARN_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1582},{36,41}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{36,41}}</string>
                <key>sourceSize</key>
                <string>{74,57}</string>
            </dict>
            <key>DDZ_chuntian_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1238},{204,179}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,45},{204,179}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_chuntian_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,981},{218,207}}</string>
                <key>offset</key>
                <string>{10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,31},{218,207}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_chuntian_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1443},{210,223}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,40},{210,223}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_chuntian_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,993},{300,243}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,12},{300,243}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_chuntian_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,673},{306,247}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,11},{306,247}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_chuntian_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,360},{372,289}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,0},{372,289}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_chuntian_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{356,315}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,2},{356,315}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_chuntian_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1058},{410,285}}</string>
                <key>offset</key>
                <string>{46,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,17},{410,285}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_chuntian_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,544},{512,243}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,16},{512,243}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_chuntian_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1058},{522,235}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,30},{522,235}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_chuntian_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{540,243}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,25},{540,243}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_chuntian_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{544,249}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{544,249}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_chuntian_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{544,249}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{544,249}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_chuntian_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{544,249}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{544,249}}</string>
                <key>sourceSize</key>
                <string>{552,317}</string>
            </dict>
            <key>DDZ_liandui_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,204},{85,112}}</string>
                <key>offset</key>
                <string>{-62,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{85,112}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,522},{117,118}}</string>
                <key>offset</key>
                <string>{-44,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{117,118}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,522},{173,124}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{173,124}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,204},{205,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{205,120}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,936},{211,120}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{211,120}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,562},{213,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{213,124}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,936},{213,116}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{213,116}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,875},{209,116}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{209,116}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,936},{211,120}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{211,120}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,913},{213,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{213,124}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,557},{213,114}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{213,114}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,875},{209,116}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{209,116}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,936},{211,120}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{211,120}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,557},{213,114}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{213,114}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,204},{213,114}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{213,114}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_liandui_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,557},{209,114}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{209,114}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>DDZ_shunzi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1241},{317,200}}</string>
                <key>offset</key>
                <string>{-215,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{317,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,1443},{299,200}}</string>
                <key>offset</key>
                <string>{-162,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,7},{299,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1260},{353,200}}</string>
                <key>offset</key>
                <string>{-147,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,7},{353,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1039},{335,200}}</string>
                <key>offset</key>
                <string>{-83,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,7},{335,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1260},{363,200}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,7},{363,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,320},{365,200}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,7},{365,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,2},{355,200}}</string>
                <key>offset</key>
                <string>{42,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,7},{355,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1462},{353,200}}</string>
                <key>offset</key>
                <string>{80,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,7},{353,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1462},{351,200}}</string>
                <key>offset</key>
                <string>{107,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,7},{351,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,673},{373,200}}</string>
                <key>offset</key>
                <string>{131,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,7},{373,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,355},{383,200}}</string>
                <key>offset</key>
                <string>{135,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,7},{383,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,711},{399,200}}</string>
                <key>offset</key>
                <string>{143,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,7},{399,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1058},{415,200}}</string>
                <key>offset</key>
                <string>{152,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,7},{415,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{433,200}}</string>
                <key>offset</key>
                <string>{160,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,7},{433,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{433,200}}</string>
                <key>offset</key>
                <string>{160,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,7},{433,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,360},{433,200}}</string>
                <key>offset</key>
                <string>{160,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,7},{433,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
            <key>DDZ_shunzi_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,734},{433,200}}</string>
                <key>offset</key>
                <string>{160,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,7},{433,200}}</string>
                <key>sourceSize</key>
                <string>{771,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animate_other.png</string>
            <key>size</key>
            <string>{2042,1664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50c4d25e8a9f8cca1959700f00e92ef0:1/1$</string>
            <key>textureFileName</key>
            <string>animate_other.png</string>
        </dict>
    </dict>
</plist>
