<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ROCKET_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1714},{231,372}}</string>
                <key>offset</key>
                <string>{9,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,200},{231,372}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1724},{251,372}}</string>
                <key>offset</key>
                <string>{8,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,200},{251,372}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1724},{401,372}}</string>
                <key>offset</key>
                <string>{4,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,200},{401,372}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1714},{483,396}}</string>
                <key>offset</key>
                <string>{3,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,176},{483,396}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1284},{551,428}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,144},{551,428}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,643},{639,478}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,94},{639,478}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{639,542}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,26},{639,542}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1150},{747,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{747,572}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{747,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{747,572}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,576},{747,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{747,572}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{747,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{747,572}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{747,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{747,572}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{747,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{747,572}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1899},{105,166}}</string>
                <key>offset</key>
                <string>{6,203}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,0},{105,166}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
            <key>ROCKET_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1899},{79,80}}</string>
                <key>offset</key>
                <string>{2,246}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{765,572}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animate_rocket.png</string>
            <key>size</key>
            <string>{2044,2112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f980f676cf48d5fbff58d2ce59ffff31:1/1$</string>
            <key>textureFileName</key>
            <string>animate_rocket.png</string>
        </dict>
    </dict>
</plist>
