<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>btn_retroactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,366},{187,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,69}}</string>
                <key>sourceSize</key>
                <string>{187,69}</string>
            </dict>
            <key>faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{294,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,242}}</string>
                <key>sourceSize</key>
                <string>{294,242}</string>
            </dict>
            <key>hongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,468},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>image_Pop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,164},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>image_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,437},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>image_label_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,138},{25,24}}</string>
                <key>offset</key>
                <string>{28,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,26},{25,24}}</string>
                <key>sourceSize</key>
                <string>{81,50}</string>
            </dict>
            <key>image_mark_chest_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,505},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>image_mark_chest_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>image_mark_chest_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,501},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>image_mark_chest_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,517},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>image_mark_chest_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,513},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>image_mark_chest_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,82},{168,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>image_mark_chest_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{179,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,78}}</string>
                <key>sourceSize</key>
                <string>{181,78}</string>
            </dict>
            <key>image_mark_chest_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{162,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,78}}</string>
                <key>sourceSize</key>
                <string>{164,78}</string>
            </dict>
            <key>image_mark_chest_geted.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,417},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,39}}</string>
                <key>sourceSize</key>
                <string>{49,39}</string>
            </dict>
            <key>image_mark_chest_receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,366},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,39}}</string>
                <key>sourceSize</key>
                <string>{49,39}</string>
            </dict>
            <key>image_mark_label_marked.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,105},{31,26}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,24},{31,26}}</string>
                <key>sourceSize</key>
                <string>{81,50}</string>
            </dict>
            <key>image_mark_reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,437},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>image_mark_rili_current.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,349},{85,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,51}}</string>
                <key>sourceSize</key>
                <string>{85,51}</string>
            </dict>
            <key>image_mark_rili_last.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,402},{82,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,50}}</string>
                <key>sourceSize</key>
                <string>{82,50}</string>
            </dict>
            <key>image_mark_rili_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{81,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,49}}</string>
                <key>sourceSize</key>
                <string>{81,49}</string>
            </dict>
            <key>image_mark_rili_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,454},{81,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,49}}</string>
                <key>sourceSize</key>
                <string>{81,49}</string>
            </dict>
            <key>image_mark_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,101}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{322,101}}</string>
                <key>sourceSize</key>
                <string>{340,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mark.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cb813645c11a2e20511295f207243a8:3bdcb1add659e62e86c4eb5291b7e306:2061676427052a0f1976d9799580c2e7$</string>
            <key>textureFileName</key>
            <string>mark.png</string>
        </dict>
    </dict>
</plist>
