<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SB_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,276},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>SB_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{445,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,105}}</string>
                <key>sourceSize</key>
                <string>{445,105}</string>
            </dict>
            <key>SB_jiangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,343},{138,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,134}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>SB_shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,47},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>SB_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,384},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>SB_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,380},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>SC_PiaoDai.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,263},{119,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,52}}</string>
                <key>sourceSize</key>
                <string>{119,52}</string>
            </dict>
            <key>SC_TuBiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,243},{87,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,76}}</string>
                <key>sourceSize</key>
                <string>{87,76}</string>
            </dict>
            <key>SC_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,378},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>SL_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,107}}</string>
                <key>sourceSize</key>
                <string>{456,107}</string>
            </dict>
            <key>SL_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,218},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>SL_jiangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,343},{140,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,136}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>SL_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{386,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,43}}</string>
                <key>sourceSize</key>
                <string>{386,43}</string>
            </dict>
            <key>SL_li.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,263},{113,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{113,118}}</string>
                <key>sourceSize</key>
                <string>{119,122}</string>
            </dict>
            <key>SL_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,360},{119,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,122}}</string>
                <key>sourceSize</key>
                <string>{119,122}</string>
            </dict>
            <key>SL_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,384},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,65}</string>
            </dict>
            <key>SL_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,218},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>anim_lost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{266,132}}</string>
                <key>offset</key>
                <string>{90,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,9},{266,132}}</string>
                <key>sourceSize</key>
                <string>{450,170}</string>
            </dict>
            <key>anim_lost_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{252,112}}</string>
                <key>offset</key>
                <string>{79,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,28},{252,112}}</string>
                <key>sourceSize</key>
                <string>{450,170}</string>
            </dict>
            <key>anim_lost_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,243},{206,98}}</string>
                <key>offset</key>
                <string>{66,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,27},{206,98}}</string>
                <key>sourceSize</key>
                <string>{450,170}</string>
            </dict>
            <key>anim_lost_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,161},{202,100}}</string>
                <key>offset</key>
                <string>{68,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,27},{202,100}}</string>
                <key>sourceSize</key>
                <string>{450,170}</string>
            </dict>
            <key>anim_lost_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,129},{250,112}}</string>
                <key>offset</key>
                <string>{-83,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{250,112}}</string>
                <key>sourceSize</key>
                <string>{450,170}</string>
            </dict>
            <key>anim_lost_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,47},{276,80}}</string>
                <key>offset</key>
                <string>{-78,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,72},{276,80}}</string>
                <key>sourceSize</key>
                <string>{450,170}</string>
            </dict>
            <key>anim_lost_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,84},{178,48}}</string>
                <key>offset</key>
                <string>{-54,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,101},{178,48}}</string>
                <key>sourceSize</key>
                <string>{450,170}</string>
            </dict>
            <key>anim_lost_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{164,80}}</string>
                <key>offset</key>
                <string>{-100,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,81},{164,80}}</string>
                <key>sourceSize</key>
                <string>{450,170}</string>
            </dict>
            <key>anim_lost_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,134},{140,110}}</string>
                <key>offset</key>
                <string>{-139,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,52},{140,110}}</string>
                <key>sourceSize</key>
                <string>{450,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Jiesuan.png</string>
            <key>size</key>
            <string>{1022,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96844cfd67841f7f08d5c719f3908845:6c09de2cafa46b20ceec6107adcf5cb2:9c04a784d61a18cacbc183d58bfa5e07$</string>
            <key>textureFileName</key>
            <string>Jiesuan.png</string>
        </dict>
    </dict>
</plist>
