<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,260},{144,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,74}}</string>
                <key>sourceSize</key>
                <string>{144,74}</string>
            </dict>
            <key>btn_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,522},{139,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,74}}</string>
                <key>sourceSize</key>
                <string>{139,74}</string>
            </dict>
            <key>btn_chouma_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,864},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_chouma_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,760},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_chouma_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,656},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_chouma_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,786},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_chouma_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,787},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_chouma_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,799},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_chouma_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,711},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_danmu_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,540},{93,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,42}}</string>
                <key>sourceSize</key>
                <string>{93,42}</string>
            </dict>
            <key>btn_danmu_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,939},{93,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,42}}</string>
                <key>sourceSize</key>
                <string>{93,42}</string>
            </dict>
            <key>btn_shenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,734},{137,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,71}}</string>
                <key>sourceSize</key>
                <string>{137,71}</string>
            </dict>
            <key>btn_tips_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,915},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>image_SZ_liebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,761},{98,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,266}}</string>
                <key>sourceSize</key>
                <string>{98,266}</string>
            </dict>
            <key>image_SZ_liebiao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,861},{254,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,76}}</string>
                <key>sourceSize</key>
                <string>{254,76}</string>
            </dict>
            <key>image_Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,598},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>image_chouma_xuanzhong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,656},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>image_chouma_xuanzhong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,509},{146,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{146,145}</string>
            </dict>
            <key>image_cuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,963},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>image_danmu.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,760},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>image_dui.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,102},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>image_gezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,0},{33,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,100}}</string>
                <key>sourceSize</key>
                <string>{33,100}</string>
            </dict>
            <key>image_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,814},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>image_heWIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,716},{127,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,69}}</string>
                <key>sourceSize</key>
                <string>{127,69}</string>
            </dict>
            <key>image_huWIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,670},{127,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,70}}</string>
                <key>sourceSize</key>
                <string>{127,70}</string>
            </dict>
            <key>image_jiesuan_LOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,522},{302,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,237}}</string>
                <key>sourceSize</key>
                <string>{302,237}</string>
            </dict>
            <key>image_jiesuan_WIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,0},{300,237}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,237}}</string>
                <key>sourceSize</key>
                <string>{302,237}</string>
            </dict>
            <key>image_jiesuan_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,891},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image_jiesuan_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,438},{100,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,51}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>image_jiesuan_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,336},{100,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,51}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>image_jiesuan_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,510},{173,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,156}}</string>
                <key>sourceSize</key>
                <string>{173,156}</string>
            </dict>
            <key>image_jiesuan_li.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,903},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>image_jiesuan_piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,0},{709,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{709,91}}</string>
                <key>sourceSize</key>
                <string>{709,91}</string>
            </dict>
            <key>image_jiesuan_piaodai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,0},{668,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,91}}</string>
                <key>sourceSize</key>
                <string>{668,91}</string>
            </dict>
            <key>image_jiesuan_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,891},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>image_jiesuan_shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,886},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>image_kaipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,0},{258,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,52}}</string>
                <key>sourceSize</key>
                <string>{258,52}</string>
            </dict>
            <key>image_kaipai_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,861},{158,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,52}}</string>
                <key>sourceSize</key>
                <string>{158,52}</string>
            </dict>
            <key>image_kaipai_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,807},{158,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,52}}</string>
                <key>sourceSize</key>
                <string>{158,52}</string>
            </dict>
            <key>image_liaotian_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{443,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,520}}</string>
                <key>sourceSize</key>
                <string>{443,520}</string>
            </dict>
            <key>image_liaotian_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,239},{413,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,1}}</string>
                <key>sourceSize</key>
                <string>{413,1}</string>
            </dict>
            <key>image_liaotian_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,915},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>image_longWIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,815},{126,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,69}}</string>
                <key>sourceSize</key>
                <string>{126,69}</string>
            </dict>
            <key>image_shangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,716},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>image_tanchuang_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,668},{169,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,46}}</string>
                <key>sourceSize</key>
                <string>{169,46}</string>
            </dict>
            <key>image_tanchuang_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,343},{164,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,163}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>image_tanchuang_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,343},{170,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,165}}</string>
                <key>sourceSize</key>
                <string>{170,165}</string>
            </dict>
            <key>image_tanchuang_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,903},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>image_weiyazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,761},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>image_yazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,939},{200,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,40}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>image_zaixianrenshu_xianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,758},{54,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,41}}</string>
                <key>sourceSize</key>
                <string>{54,41}</string>
            </dict>
            <key>image_zoushitu.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,239},{242,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,102}}</string>
                <key>sourceSize</key>
                <string>{242,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DvsT_2.png</string>
            <key>size</key>
            <string>{1022,981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84d8fd75db3b05bcb74bc90358b492f1:ac688b1ac17c8c34e6eba9be8386bea0:017cd9b208f3e8543c1e490633ff2956$</string>
            <key>textureFileName</key>
            <string>DvsT_2.png</string>
        </dict>
    </dict>
</plist>
