<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,512}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,646},{114,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,512}}</string>
                <key>sourceSize</key>
                <string>{114,512}</string>
            </dict>
            <key>bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,514},{1024,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,130}}</string>
                <key>sourceSize</key>
                <string>{1024,130}</string>
            </dict>
            <key>bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,762},{114,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,130}}</string>
                <key>sourceSize</key>
                <string>{114,130}</string>
            </dict>
            <key>btn_chouma_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,750},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_chouma_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,646},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_chouma_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,750},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_chouma_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,646},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_chouma_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,762},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_chouma_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,762},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_chouma_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,762},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_danmu_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,848},{93,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,42}}</string>
                <key>sourceSize</key>
                <string>{93,42}</string>
            </dict>
            <key>btn_danmu_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,848},{93,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,42}}</string>
                <key>sourceSize</key>
                <string>{93,42}</string>
            </dict>
            <key>btn_dt_bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,719},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>btn_dt_dayingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,719},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>btn_dt_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,827},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>btn_dt_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,762},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>btn_shenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,646},{137,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,71}}</string>
                <key>sourceSize</key>
                <string>{137,71}</string>
            </dict>
            <key>image_cuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,866},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>image_danmu.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,866},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>image_dui.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,866},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>image_gezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,854},{33,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,100}}</string>
                <key>sourceSize</key>
                <string>{33,100}</string>
            </dict>
            <key>image_weiyazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,866},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>image_yazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,646},{200,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,40}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>image_zoushitu.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,646},{242,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,102}}</string>
                <key>sourceSize</key>
                <string>{242,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DvsT.png</string>
            <key>size</key>
            <string>{1024,892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da6b6850d28c81dba6db24522c52b3e5:b1638bf32c7fa6578da34855a86f4181:b89ac4eab26bc672673db04aa6cd7d2c$</string>
            <key>textureFileName</key>
            <string>DvsT.png</string>
        </dict>
    </dict>
</plist>
