<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{900,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,500}}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,646},{238,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,500}}</string>
                <key>sourceSize</key>
                <string>{238,500}</string>
            </dict>
            <key>bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{900,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,142}}</string>
                <key>sourceSize</key>
                <string>{900,142}</string>
            </dict>
            <key>bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,646},{238,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,142}}</string>
                <key>sourceSize</key>
                <string>{238,142}</string>
            </dict>
            <key>btn_dt_bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,958},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>btn_dt_dayingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,958},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>btn_dt_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,951},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>btn_dt_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,886},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>btn_qitawanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,958},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>image_chouma_xuanzhong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,811},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>image_chouma_xuanzhong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,811},{146,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{146,145}</string>
            </dict>
            <key>image_tanchuang_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,646},{164,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,163}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>image_tanchuang_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,790},{170,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,165}}</string>
                <key>sourceSize</key>
                <string>{170,165}</string>
            </dict>
            <key>image_tanchuang_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,958},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>image_zhepai.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,913},{86,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,101}}</string>
                <key>sourceSize</key>
                <string>{86,101}</string>
            </dict>
            <key>imgae_dayingjia_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,886},{413,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,105}}</string>
                <key>sourceSize</key>
                <string>{413,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DvsT_1.png</string>
            <key>size</key>
            <string>{922,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b1506d510fa7637e8c29b96c46d0459:92c487803ade18c70a0c7ef2cdab6ad6:3ab10bb858ce7e9a111e080622385abc$</string>
            <key>textureFileName</key>
            <string>DvsT_1.png</string>
        </dict>
    </dict>
</plist>
