<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image_gold_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,68},{98,70}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{98,70}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>image_gold_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,212},{98,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{98,88}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>image_gold_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,132},{110,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{110,86}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>image_gold_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{102,86}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{102,86}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>image_gold_title_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,40},{110,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{110,90}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>image_gold_title_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{108,94}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{108,94}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>image_label_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,220},{97,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,98}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>image_label_mall.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>image_label_recommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,330},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>image_mall_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,208}}</string>
                <key>sourceSize</key>
                <string>{315,208}</string>
            </dict>
            <key>image_promotion_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{146,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{146,36}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mall.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13d1d58821acaf2563955e88bf2dd8d3:ff7798679a3e9bc6f3a2fc5ee74d1b94:034985271018ecfdd2147641cfe56066$</string>
            <key>textureFileName</key>
            <string>mall.png</string>
        </dict>
    </dict>
</plist>
