<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_Loading_LogoIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{210,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>02_Loading_LogoText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{437,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,79}}</string>
                <key>sourceSize</key>
                <string>{437,79}</string>
            </dict>
            <key>10_room_rank1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{113,41}}</string>
                <key>offset</key>
                <string>{0,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,19},{113,41}}</string>
                <key>sourceSize</key>
                <string>{223,333}</string>
            </dict>
            <key>10_room_rank1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,332},{223,83}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{223,83}}</string>
                <key>sourceSize</key>
                <string>{223,333}</string>
            </dict>
            <key>10_room_rank1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,172},{183,37}}</string>
                <key>offset</key>
                <string>{0,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,279},{183,37}}</string>
                <key>sourceSize</key>
                <string>{223,333}</string>
            </dict>
            <key>10_room_rank2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,461},{113,41}}</string>
                <key>offset</key>
                <string>{0,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,19},{113,41}}</string>
                <key>sourceSize</key>
                <string>{223,333}</string>
            </dict>
            <key>10_room_rank2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,416},{223,83}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{223,83}}</string>
                <key>sourceSize</key>
                <string>{223,333}</string>
            </dict>
            <key>10_room_rank2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,259},{183,37}}</string>
                <key>offset</key>
                <string>{0,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,279},{183,37}}</string>
                <key>sourceSize</key>
                <string>{223,333}</string>
            </dict>
            <key>10_room_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,333}}</string>
                <key>sourceSize</key>
                <string>{223,333}</string>
            </dict>
            <key>Arrow_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,490},{30,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{30,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Arrow_result_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,46},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>Arrow_result_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,410},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>Arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,490},{30,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{30,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>box_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{194,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,178}}</string>
                <key>sourceSize</key>
                <string>{194,178}</string>
            </dict>
            <key>box_item_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,217},{56,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,192}}</string>
                <key>sourceSize</key>
                <string>{56,192}</string>
            </dict>
            <key>box_item_mark_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,181},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>box_item_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,181},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>box_item_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{178,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{178,169}}</string>
                <key>sourceSize</key>
                <string>{192,175}</string>
            </dict>
            <key>box_mail_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,210},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>box_mark_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{288,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,73}}</string>
                <key>sourceSize</key>
                <string>{288,73}</string>
            </dict>
            <key>box_moregame.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,213},{208,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{208,45}}</string>
                <key>sourceSize</key>
                <string>{210,45}</string>
            </dict>
            <key>box_quickbuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,259},{201,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{201,44}}</string>
                <key>sourceSize</key>
                <string>{203,46}</string>
            </dict>
            <key>box_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,213},{184,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,45}}</string>
                <key>sourceSize</key>
                <string>{186,45}</string>
            </dict>
            <key>box_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,410},{51,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>box_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,286},{259,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{259,45}}</string>
                <key>sourceSize</key>
                <string>{261,45}</string>
            </dict>
            <key>icon_activity_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,297},{84,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon_calls_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,91},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_gold_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,476},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_gold_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,88},{38,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{38,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_goldbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,304},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>icon_life_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,95},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_mail_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,382},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{72,54}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon_medal_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,476},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_medal_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,46},{42,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_rank_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,490},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_sys_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{46,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,20}}</string>
                <key>sourceSize</key>
                <string>{46,20}</string>
            </dict>
            <key>icon_task_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,400},{62,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_vip_bu_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,127},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_vip_rd_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,125},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_vip_rd_52-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,44},{50,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{50,43}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>icon_vip_rd_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,44},{50,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{50,43}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>icon_vip_yl_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,482},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_vip_yl_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{50,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{50,43}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>itemicon_gold01.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,462},{54,46}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{54,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>itemicon_gold02.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,255},{66,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{66,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>itemicon_gold03.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,320},{86,80}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>itemicon_gold04.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,401},{86,74}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{86,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>itemicon_gold05.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,416},{90,82}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{90,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>itemicon_gold06.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,416},{98,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{98,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pop_textbox_web.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,88},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>pop_tips_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,476},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>rank_1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,437},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>rank_2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,88},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>rank_3rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,172},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>slebox01_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,172},{77,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,32}}</string>
                <key>sourceSize</key>
                <string>{77,34}</string>
            </dict>
            <key>slebox01_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,172},{77,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,32}}</string>
                <key>sourceSize</key>
                <string>{77,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room002.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7062b1bc35e5389b9b0243731b30e75$</string>
            <key>textureFileName</key>
            <string>room002.png</string>
        </dict>
    </dict>
</plist>
