<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sm_card_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,44},{20,18}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{20,18}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,20},{16,24}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,46},{16,24}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code003.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,44},{18,22}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{18,22}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,28},{18,24}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{18,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code005.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,20},{16,24}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code006.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{18,24}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{18,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,40},{14,22}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{14,22}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code008.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,26},{16,24}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code009.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,28},{16,24}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{16,24}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code010.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,28},{18,24}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{18,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code011.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{16,24}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code012.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{16,24}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code013.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{18,24}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{18,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{16,24}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,28},{16,24}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{18,24}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{18,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code05.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,20},{18,22}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{18,22}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code06.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{18,24}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{18,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code07.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,20},{16,22}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{16,22}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code08.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,20},{16,22}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{16,22}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code09.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{18,22}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{18,22}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code10.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{18,24}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{18,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code11.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,46},{16,22}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{16,22}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code12.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,48},{14,24}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{14,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_code13.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{16,24}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,28},{18,20}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{18,20}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,28},{20,20}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{20,20}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_jokerbk.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,50},{12,46}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{12,46}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_jokerrd.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{12,46}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{12,46}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>sm_card_spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,20},{18,18}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{18,18}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardSmall.png</string>
            <key>size</key>
            <string>{310,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e0e473d84c64078d1f63c2b6ea44ae0:1/1$</string>
            <key>textureFileName</key>
            <string>cardSmall.png</string>
        </dict>
    </dict>
</plist>
