<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_exchange_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,309},{187,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,66}}</string>
                <key>sourceSize</key>
                <string>{187,66}</string>
            </dict>
            <key>btn_exchange_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,146},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>btn_ikown.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,74},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>btn_tips_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{187,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,69}}</string>
                <key>sourceSize</key>
                <string>{187,69}</string>
            </dict>
            <key>image_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,337},{129,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,26}}</string>
                <key>sourceSize</key>
                <string>{129,26}</string>
            </dict>
            <key>image_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,309},{129,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,26}}</string>
                <key>sourceSize</key>
                <string>{129,26}</string>
            </dict>
            <key>image_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,105},{58,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,2}}</string>
                <key>sourceSize</key>
                <string>{58,2}</string>
            </dict>
            <key>image_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,289},{187,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,69}}</string>
                <key>sourceSize</key>
                <string>{187,69}</string>
            </dict>
            <key>image_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,218},{187,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,69}}</string>
                <key>sourceSize</key>
                <string>{187,69}</string>
            </dict>
            <key>image_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,467},{77,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,34}}</string>
                <key>sourceSize</key>
                <string>{77,34}</string>
            </dict>
            <key>image_exchange_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{310,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,202}}</string>
                <key>sourceSize</key>
                <string>{310,202}</string>
            </dict>
            <key>image_item_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,365},{100,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,74}}</string>
                <key>sourceSize</key>
                <string>{100,74}</string>
            </dict>
            <key>image_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,360},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>image_soldOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,365},{74,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,31}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>image_tips_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,101}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{318,101}}</string>
                <key>sourceSize</key>
                <string>{340,105}</string>
            </dict>
            <key>image_title_label_exchange_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,360},{64,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,16},{64,34}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>image_title_label_exchange_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,467},{70,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,15},{70,40}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>image_title_label_record_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,365},{130,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{130,34}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>image_title_label_record_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,360},{136,40}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{136,40}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchange.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd9c94deb2a4d2dfde2930e6c422e49f:23b55825a62d27886251c626ba554c66:f579675e0bc555f257cbef147ad6f528$</string>
            <key>textureFileName</key>
            <string>exchange.png</string>
        </dict>
    </dict>
</plist>
