<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20_table_btncalled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,442},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btncalled_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,442},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btndouble.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,370},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btndouble_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,370},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btngrab.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,370},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btngrab_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,278},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btnmp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,278},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btnmp_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,278},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btnmpstart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,257},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btnmpstart_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,258},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btnnocalled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,258},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btnnodouble.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,350},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btnnodouble_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,258},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btnnograb.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,225},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btnnograb_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,312},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>20_table_btnnotcalled_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,312},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,2},{90,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{90,48}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>btn_showcard_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,338},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>btn_showcard_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,430},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>btn_showcard_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,338},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>btn_showcard_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,257},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>call.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,490},{132,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{132,48}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>desk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,220},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,246},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,453},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>desk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,174},{134,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,49}}</string>
                <key>sourceSize</key>
                <string>{134,49}</string>
            </dict>
            <key>desk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,462},{74,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{74,88}</string>
            </dict>
            <key>desk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,225},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>desk007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,94},{71,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,49}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>desk008.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{332,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,32}}</string>
                <key>sourceSize</key>
                <string>{332,32}</string>
            </dict>
            <key>desk009.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,154},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,462},{125,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,50}}</string>
                <key>sourceSize</key>
                <string>{125,50}</string>
            </dict>
            <key>desk011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,462},{125,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,26}}</string>
                <key>sourceSize</key>
                <string>{125,26}</string>
            </dict>
            <key>desk012.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,42},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>desk013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,94},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{450,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,86}}</string>
                <key>sourceSize</key>
                <string>{450,86}</string>
            </dict>
            <key>desk015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,186},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk016.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,496},{78,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,33}}</string>
                <key>sourceSize</key>
                <string>{78,33}</string>
            </dict>
            <key>desk017.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,496},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>desk018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,145},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>desk019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{424,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,87}}</string>
                <key>sourceSize</key>
                <string>{424,87}</string>
            </dict>
            <key>desk020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,186},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,258},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,94},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,94},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,73},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,74},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk026.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,166},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,277},{60,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>desk028.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,128},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk029.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,74},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,217},{58,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,68}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>desk031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{551,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,64}}</string>
                <key>sourceSize</key>
                <string>{551,64}</string>
            </dict>
            <key>desk032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,490},{90,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{90,48}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>desk033.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,108},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{40,18}</string>
            </dict>
            <key>desk034.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,36},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,2},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,490},{90,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{90,48}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>desk037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,2},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,2},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>desk039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{645,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,38}}</string>
                <key>sourceSize</key>
                <string>{645,38}</string>
            </dict>
            <key>desk040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{509,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,44}}</string>
                <key>sourceSize</key>
                <string>{509,44}</string>
            </dict>
            <key>desk041.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,452},{86,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,29}}</string>
                <key>sourceSize</key>
                <string>{86,29}</string>
            </dict>
            <key>desk042.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>desk043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{389,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,68}}</string>
                <key>sourceSize</key>
                <string>{389,68}</string>
            </dict>
            <key>desk044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,421},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>desk045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{187,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,69}}</string>
                <key>sourceSize</key>
                <string>{187,69}</string>
            </dict>
            <key>iamge_wjxx_daojudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,452},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>iamge_wjxx_daojudi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,36},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>iamge_wjxx_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{276,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,36}}</string>
                <key>sourceSize</key>
                <string>{278,36}</string>
            </dict>
            <key>iamge_wjxx_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,94},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>image_erfen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,462},{80,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{80,48}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>image_head_ai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,441},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>image_sanfen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,462},{80,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{80,48}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>image_setting_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,401},{71,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,49}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>image_yifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,345},{74,48}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,5},{74,48}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>not_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,459},{90,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{90,48}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>not_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,409},{90,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{90,48}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>not_rod.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,2},{90,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{90,48}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>rod.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{132,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{132,48}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{322,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,49}}</string>
                <key>sourceSize</key>
                <string>{322,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newDesk.png</string>
            <key>size</key>
            <string>{2026,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f8d35a7c5df225293981ee244c9f24e:1/1$</string>
            <key>textureFileName</key>
            <string>newDesk.png</string>
        </dict>
    </dict>
</plist>
