<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_achievement_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,132},{128,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{128,30}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>btn_achievement_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{128,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{128,34}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>btn_daily_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,132},{126,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{126,30}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>btn_daily_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,374},{128,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{128,34}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>image_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,76},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>image_label_ing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,943},{187,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,69}}</string>
                <key>sourceSize</key>
                <string>{187,69}</string>
            </dict>
            <key>image_progressBarNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,188},{184,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,24}}</string>
                <key>sourceSize</key>
                <string>{184,24}</string>
            </dict>
            <key>image_progressBar_bgNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{184,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,24}}</string>
                <key>sourceSize</key>
                <string>{184,24}</string>
            </dict>
            <key>image_task_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{939,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{939,121}}</string>
                <key>sourceSize</key>
                <string>{939,121}</string>
            </dict>
            <key>image_task_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,262},{98,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{98,88}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>image_task_huafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{72,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{72,48}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>image_task_jiangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,504},{58,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{58,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7e9fa0512b2e2db23e0357663dc24e5:1/1$</string>
            <key>textureFileName</key>
            <string>task.png</string>
        </dict>
    </dict>
</plist>
