<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{602,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,154}}</string>
                <key>sourceSize</key>
                <string>{602,154}</string>
            </dict>
            <key>chest_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,860},{398,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,375}}</string>
                <key>sourceSize</key>
                <string>{398,375}</string>
            </dict>
            <key>chest_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,606},{271,243}}</string>
                <key>offset</key>
                <string>{-29,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,136},{271,243}}</string>
                <key>sourceSize</key>
                <string>{463,389}</string>
            </dict>
            <key>chest_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,170},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>chest_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{463,381}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,381}}</string>
                <key>sourceSize</key>
                <string>{463,389}</string>
            </dict>
            <key>chest_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1183},{472,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{472,49}}</string>
                <key>sourceSize</key>
                <string>{476,53}</string>
            </dict>
            <key>image_dim.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,502},{356,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,200}}</string>
                <key>sourceSize</key>
                <string>{356,200}</string>
            </dict>
            <key>kuanng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{706,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{706,498}}</string>
                <key>sourceSize</key>
                <string>{706,500}</string>
            </dict>
            <key>tanchuchuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{531,296}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{531,296}}</string>
                <key>sourceSize</key>
                <string>{535,300}</string>
            </dict>
            <key>wupingdiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{118,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,166}}</string>
                <key>sourceSize</key>
                <string>{118,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chest.png</string>
            <key>size</key>
            <string>{986,1237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c53c1ede4b971680892d54ca700e5d51:42d38f998e7c3158dcb8e77f5b6e106f:5e2414ddc04268b3ad19007266c336d3$</string>
            <key>textureFileName</key>
            <string>chest.png</string>
        </dict>
    </dict>
</plist>
