<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,152},{56,44}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{56,44}}</string>
                <key>sourceSize</key>
                <string>{100,68}</string>
            </dict>
            <key>btn_glod_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1001},{221,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,66}}</string>
                <key>sourceSize</key>
                <string>{221,66}</string>
            </dict>
            <key>btn_glod_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,933},{221,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,66}}</string>
                <key>sourceSize</key>
                <string>{221,66}</string>
            </dict>
            <key>btn_huafei_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,865},{221,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,66}}</string>
                <key>sourceSize</key>
                <string>{221,66}</string>
            </dict>
            <key>btn_huafei_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,797},{221,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,66}}</string>
                <key>sourceSize</key>
                <string>{221,66}</string>
            </dict>
            <key>btn_itemBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,210},{427,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,199}}</string>
                <key>sourceSize</key>
                <string>{427,199}</string>
            </dict>
            <key>btn_logout.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,827},{187,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,66}}</string>
                <key>sourceSize</key>
                <string>{187,66}</string>
            </dict>
            <key>btn_matchInfo_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{714,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{714,112}}</string>
                <key>sourceSize</key>
                <string>{714,112}</string>
            </dict>
            <key>btn_notTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,687},{187,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,66}}</string>
                <key>sourceSize</key>
                <string>{187,66}</string>
            </dict>
            <key>btn_signUp_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,933},{172,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,112}}</string>
                <key>sourceSize</key>
                <string>{172,112}</string>
            </dict>
            <key>btn_signUp_nottime.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,573},{172,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,112}}</string>
                <key>sourceSize</key>
                <string>{172,112}</string>
            </dict>
            <key>btn_signUp_overdue.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,683},{172,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,112}}</string>
                <key>sourceSize</key>
                <string>{172,112}</string>
            </dict>
            <key>btn_status_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,172},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>btn_status_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,958},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>btn_status_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,759},{187,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,66}}</string>
                <key>sourceSize</key>
                <string>{187,66}</string>
            </dict>
            <key>btn_status_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,865},{187,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,66}}</string>
                <key>sourceSize</key>
                <string>{187,66}</string>
            </dict>
            <key>btn_status_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,687},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>btn_tip_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,376},{187,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,66}}</string>
                <key>sourceSize</key>
                <string>{187,66}</string>
            </dict>
            <key>btn_tip_eward_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,308},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>btn_tip_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,895},{175,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{175,61}}</string>
                <key>sourceSize</key>
                <string>{175,63}</string>
            </dict>
            <key>btn_tip_reward_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,240},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>btn_tip_rules_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,172},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>btn_tip_rules_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,433},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>btn_tips_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,827},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_tips_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,827},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_tips_details_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,75},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>btn_tips_details_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,433},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>btn_tips_signUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,783},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>canjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,711},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>image_bisai_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,376},{194,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,94}}</string>
                <key>sourceSize</key>
                <string>{194,94}</string>
            </dict>
            <key>image_champion_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,376},{195,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,92}}</string>
                <key>sourceSize</key>
                <string>{195,92}</string>
            </dict>
            <key>image_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{58,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,60}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>image_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1047},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>image_itemTitle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,240},{134,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,43}}</string>
                <key>sourceSize</key>
                <string>{134,43}</string>
            </dict>
            <key>image_itemTitle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,637},{133,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,44}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>image_itemTitle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,876},{132,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,44}}</string>
                <key>sourceSize</key>
                <string>{132,44}</string>
            </dict>
            <key>image_itemTitle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,665},{133,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,44}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>image_item_title_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,572},{98,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{98,88}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>image_item_title_huafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,958},{99,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{99,68}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>image_liebiao_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{2,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,37}}</string>
                <key>sourceSize</key>
                <string>{2,37}</string>
            </dict>
            <key>image_liebiao_fengexian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{658,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,1}}</string>
                <key>sourceSize</key>
                <string>{658,1}</string>
            </dict>
            <key>image_liebiao_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,783},{72,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>image_match_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,933},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>image_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,852},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>image_peopleRank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,152},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>image_peopleRank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,816},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>image_peopleRank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,376},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>image_progressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,143},{256,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{256,27}}</string>
                <key>sourceSize</key>
                <string>{266,37}</string>
            </dict>
            <key>image_progressBar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,411},{264,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{264,35}}</string>
                <key>sourceSize</key>
                <string>{266,37}</string>
            </dict>
            <key>image_roomTitle_classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,499},{136,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,45}}</string>
                <key>sourceSize</key>
                <string>{136,45}</string>
            </dict>
            <key>image_roomTitle_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,361},{136,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,45}}</string>
                <key>sourceSize</key>
                <string>{136,45}</string>
            </dict>
            <key>image_roomTitle_laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1030},{136,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,45}}</string>
                <key>sourceSize</key>
                <string>{136,45}</string>
            </dict>
            <key>image_roomTitle_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,933},{136,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,45}}</string>
                <key>sourceSize</key>
                <string>{136,45}</string>
            </dict>
            <key>image_signCount.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1047},{125,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{125,31}}</string>
                <key>sourceSize</key>
                <string>{129,35}</string>
            </dict>
            <key>image_sign_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,411},{270,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{270,172}}</string>
                <key>sourceSize</key>
                <string>{274,176}</string>
            </dict>
            <key>image_timeRank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,772},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>image_timeRank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,891},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>image_timeRank_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1030},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>image_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1020},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,51}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>image_tip_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,895},{145,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,36}}</string>
                <key>sourceSize</key>
                <string>{145,36}</string>
            </dict>
            <key>image_tip_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,433},{254,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{254,43}}</string>
                <key>sourceSize</key>
                <string>{254,47}</string>
            </dict>
            <key>image_tip_title_bg 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,411},{478,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,54}}</string>
                <key>sourceSize</key>
                <string>{478,54}</string>
            </dict>
            <key>image_tip_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,411},{530,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,83}}</string>
                <key>sourceSize</key>
                <string>{530,83}</string>
            </dict>
            <key>image_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,210},{222,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,221}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>image_tips_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,943},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>image_tips_title_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{602,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,92}}</string>
                <key>sourceSize</key>
                <string>{602,92}</string>
            </dict>
            <key>image_titleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,433},{301,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,84}}</string>
                <key>sourceSize</key>
                <string>{301,84}</string>
            </dict>
            <key>image_titleBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{232,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,71}}</string>
                <key>sourceSize</key>
                <string>{232,71}</string>
            </dict>
            <key>image_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,411},{439,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{439,75}}</string>
                <key>sourceSize</key>
                <string>{439,77}</string>
            </dict>
            <key>text_status_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,116},{80,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{96,34}</string>
            </dict>
            <key>text_status_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,922},{96,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,34}}</string>
                <key>sourceSize</key>
                <string>{96,34}</string>
            </dict>
            <key>text_status_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,736},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{96,34}</string>
            </dict>
            <key>text_status_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,922},{96,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,34}}</string>
                <key>sourceSize</key>
                <string>{96,34}</string>
            </dict>
            <key>text_status_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,677},{94,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,32}}</string>
                <key>sourceSize</key>
                <string>{96,34}</string>
            </dict>
            <key>zhanwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddzRoom.png</string>
            <key>size</key>
            <string>{1016,1082}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b2104085654ef0ff7a689251954c7f0:7f4419ea98e1a603cd0b03e08816c7fe:bd19d3fd2b39970ba170ca1109bb81bf$</string>
            <key>textureFileName</key>
            <string>ddzRoom.png</string>
        </dict>
    </dict>
</plist>
